.SanFrancisco-main{
    background: #CC6699;
    width:583px;
    height:147px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.SanFrancisco-main h1, .SanFrancisco-main p{
    color:white;
    font-size:22px;
    font-weight:400;
}

