.Instanbul-main{
    background: #996699;
    width:291px;
    height:147px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Instanbul-main h1, .Instanbul-main p{
    color:white;
    font-size:22px;
    font-weight:400;
}

