.NewDelhi-main{
    background: #669999;
    width:291px;
    height:147px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.NewDelhi-main h1, .NewDelhi-main p{
    color:white;
    font-size:22px;
    font-weight:400;
}

