.Lisbon-main{
    background: #3399CC;
    width:583px;
    height:147px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Lisbon-main h1, .Lisbon-main p{
    color:white;
    font-size:22px;
    font-weight:400;
}

