.Sydney-main{
    background: #666699;
    width:1170px;
    height:147px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Sydney-main h1, .Sydney-main p{
    color:white;
    font-size:22px;
    font-weight:400;
}

