.Paris-main{
    background:#33CCCC;
    width:291px;
    height:147px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Paris-main h1, .Paris-main p{
    color:white;
    font-size:21px;
    font-weight:400;
}