.NewYork-main{
    background: #99CC99;
    width:291px;
    height:147px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.NewYork-main h1, .NewYork-main p{
    color:white;
    font-size:22px;
    font-weight:400;
}

