.Cairo-main{
    background: #FFCC66;
    width:291px;
    height:147px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Cairo-main h1, .Cairo-main p{
    color:white;
    font-size:22px;
    font-weight:400;
}

