

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-main {
  background-color: #3399CC;
  border: 25px solid #2B81AC;
  min-height: 86vh;
  padding-top: 60px;
}

.App-container{
  max-width: 1170px;
  width:100%;
  margin:0 auto;
}

.App-title h1{
  color:white;
  font-size:21px;
  font-weight:400;
}

.App-weather-table{
  background: white;
  width:100%;
  height:600px;
  display: flex;
  flex-direction: column;
  padding:4px;
  padding-bottom: 4px;
  gap:4px;
}
.App-weather-table-first,.App-weather-table-second,.App-weather-table-third,.App-weather-table-fourth{
  display: flex;
  flex-direction: row;
  gap:4px;
}



.App-text p{
  color:white;
  font-size:16px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
